<!DOCTYPE html>
<html lang = "en">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <script>
                        function confirmLogout() {
                            if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
                                // Nếu người dùng đồng ý, gọi hàm logoutUser
                                logoutUser();
                            } else {
                                // Nếu người dùng hủy bỏ, không làm gì cả
                                console.log("Đã hủy đăng xuất");
                            }
                        }
                    
                        function logoutUser() {
                            fetch('http://localhost:3333/api/users/logout', {
                                method: 'GET',
                                credentials: 'include'
                            })
                            .then(response => {
                                if (response.ok) {
                                    window.location.href = '/index'; // Chuyển hướng về trang đăng nhập
                                } else {
                                    console.error('Error logging out:', response.statusText);
                                }
                            })
                            .catch(error => {
                                console.error('Error logging out:', error);
                            });
                        }
                    </script>
                    <div class="user-menu">
                        <ul>
                            <% if (user) { %>
                                <!-- Nếu người dùng đã đăng nhập -->
                                <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                                <li><a href="#" id="btn_logout"><i class="fa fa-user"></i> Logout</a></li>
                                <li style="display: none;"><a href="login"><i class="fa fa-user"></i> Login</a></li>
                            <% } else { %>
                                <!-- Nếu người dùng chưa đăng nhập -->
                                <li style="display: none;"><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                                <li style="display: none;"><a href="#" id="btn_logout"><i class="fa fa-user"></i> Logout</a></li>
                                <li><a href="login"><i class="fa fa-user"></i> Login</a></li>
                            <% } %>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="img/logo.png"> Guitar Center</a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="cart">Cart - <span class="cart-amunt">$100</span> <i
                                class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index">Trang chủ</a></li>
                        <li><a href="shop">Sản phẩm</a></li>
                        <li><a href="single-product">Sản phẩm đơn</a></li>
                        <li><a href="#">Danh mục</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</html>